* {margin: 0; padding: 0;
  color: #362706;
  font-family: 'Gowun Dodum', sans-serif;
background: #E9E5D6}

h1{
  background: none;
}
.contentsBody{
  margin: 0 auto;
  max-width: 80%;
}
.logoBox{
  text-align: center;
  padding: 2% 0;
  background: #ACB992;
}

.loginForm{
  margin: 5% 0;
}
.loginForm a{
  display: block;
}
#form1{
  margin-top: 3%;
  display: inline-block;
}
input{
  border: none;
  outline: none;
  border-bottom: 1.5px solid #362706;
  background: none;
}
#loginBtn{
  border: none;
  background-color: #464E2E;
  color: #E9E5D6;
  padding: 0.5% 1%;
  border-radius: 5px;
}
#couponBox{
  margin: 10% 0;
}
#couponBox>img{
    float: right;
    max-width: 10%;
    height: auto;
}
#couponNumBox{
    float: right;
    padding-left: 3%;
    font-size: 120%;
}

.grid_container{
    clear: both;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    max-width: fit-content;
    margin: 20% auto;
}
.grid_item{
    margin: 2%;
    padding: 2%;
}
.grid_item>img{
    max-width: 100%;
    height: auto;
}
